.inputBox-container {
  min-width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox-container > input {
  width: 100%;
  font-size: 16px;
  padding: 14px 10px;
  border: 1px solid grey;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  z-index: 1;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.inputBox-container > input:focus {
  border: 2px solid royalblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputBox-container > span {
  transition: all 0.3s ease-in-out;
  background-color: white;
  pointer-events: none;
}

.inputBox-Empty {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.inputBox-focus {
  font-size: 14px;
  position: absolute;
  left: 15px;
  transform: translateY(-25px);
  padding: 0 4px;
  background-color: white;
  color: royalblue;
  z-index: 1;
}
.inputBox-varified {
  font-size: 14px;
  position: absolute;
  left: 15px;
  transform: translateY(-25px);
  padding: 0 4px;
  background-color: white;
  color: gray;
  z-index: 1;
}

.inputBox-NotEmpty {
  font-size: 14px;
  position: absolute;
  left: 15px;
  transform: translateY(-25px);
  padding: 0 4px;
  background-color: white;
  color: gray;
  z-index: 1;
}

.inputBox-showBtn {
  position: absolute;
  right: 20px;
  z-index: 5;
  cursor: pointer;
}
.inputBox-varifiedBtn {
  position: absolute;
  right: 20px;
  z-index: 5;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
  gap: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
